@import 'lib/eases';
// Body
$body-bg:       #f8fafc;
$link-color:    #3490dc;
$title-color:   #E05B5C;
$text-color:    #4A4A4A;
$footer-bg:     #2D2D90;
$footer-color:  #FFFFFF;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-regular: 'Raleway';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:    #3490dc;
$indigo:  #6574cd;
$purple:  #9561e2;
$pink:    #f66D9b;
$red:     #e3342f;
$orange:  #f6993f;
$yellow:  #ffed4a;
$green:   #38c172;
$teal:    #4dc0b5;
$cyan:    #6cb2eb;

/* media queries */
$iphoneSE: '(max-width: 320px) and (max-width: 480px)';
$iphoneX: '(min-width: 375px) and (max-width: 667px)';
$mobile: '(min-width: 320px) and (max-width: 667px)';
$tablet: '(min-width: 640px) and (max-width: 1024px)';
$alldevices: '(min-width: 320px) and (max-width: 1024px)';
$largerDesktop: '(min-width: 1281px) and (max-width: 3000px)';
